In [1]:
#add pandas
import pandas as pd

In [2]:
#files to load
school_data_to_load = "Resources/schools_complete.csv"
student_data_to_load = "Resources/students_complete.csv"

In [3]:
#read school file > data frame
school_data_df = pd.read_csv(school_data_to_load)

In [4]:
# Read the student data file and store it in a Pandas DataFrame.
student_data_df = pd.read_csv(student_data_to_load)

In [5]:
# Add each prefix and suffix to remove to a list.
prefixes_suffixes = ["Dr. ", "Mr. ","Ms. ", "Mrs. ", "Miss ", " MD", " DDS", " DVM", " PhD"]

In [6]:
#Iterate through the "prefixes_suffixes" list and replace them with an empty space, "" when it appears in the student's name.
for word in prefixes_suffixes:
    student_data_df["student_name"] = student_data_df["student_name"].str.replace(word,"")

C:\Users\ambre\anaconda3\envs\PythonData\lib\site-packages\ipykernel_launcher.py:3: FutureWarning: The default value of regex will change from True to False in a future version.
  This is separate from the ipykernel package so we can avoid doing imports until

In [7]:
# Put the cleaned students' names in another list.
student_names = student_data_df["student_name"].tolist()

In [8]:
#combine both data sheets
school_data_complete_df = pd.merge(school_data_df, student_data_df, on=["school_name","school_name"])

In [9]:
#counting the number of students based on student ID Column
student_count = school_data_complete_df["Student ID"].count()

In [10]:
#total number of schools
school_count = school_data_df["school_name"].count()

In [11]:
#calc total budget
total_budget = school_data_df["budget"].sum()

In [12]:
#avg reading score
average_reading_score = school_data_complete_df["reading_score"].mean()

In [13]:
#avg math score
average_math_score = school_data_complete_df["math_score"].mean()

In [14]:
#passing math score
passing_math = school_data_complete_df[school_data_complete_df["math_score"] >= 70]
passing_math_count=passing_math["student_name"].count()

In [15]:
#passing reading score
passing_reading = school_data_complete_df[school_data_complete_df["reading_score"] >= 70]
passing_reading_count=passing_reading["student_name"].count()

In [16]:
#% that passed math
passing_math_percentage = passing_math_count /float(student_count) * 100

In [17]:
#% that passed reading
passing_reading_percentage = passing_reading_count / float(student_count) * 100

In [18]:
#filter DF passing math and reading
passing_math_reading = school_data_complete_df[(school_data_complete_df["math_score"] >= 70) & (school_data_complete_df["reading_score"] >= 70)]

In [19]:
#calc passing both reading and math
overall_passing_math_reading_count = passing_math_reading["student_name"].count()

In [20]:
#overall passing %
overall_passing_percentage = overall_passing_math_reading_count / student_count * 100

In [21]:
#create district summary df
district_summary_df = pd.DataFrame(
    [{"Total Schools":school_count,
     "Total Students":student_count,
     "Total Budget":total_budget,
     "Average Math Score":average_math_score,
     "Average Reading Score":average_reading_score,
     "% Passing Math":passing_math_percentage,
     "% Passing Reading":passing_reading_percentage,
     "% Overall Passing":overall_passing_percentage}])

In [22]:
#formatting district summary df
district_summary_df["Total Students"] = district_summary_df["Total Students"].map("{:,}".format)
district_summary_df["Total Budget"] = district_summary_df["Total Budget"].map("${:,.2f}".format)
district_summary_df["Average Math Score"] = district_summary_df["Average Math Score"].map("{:.1f}".format)
district_summary_df["Average Reading Score"] = district_summary_df["Average Reading Score"].map("{:.1f}".format)
district_summary_df["% Passing Math"] = district_summary_df["% Passing Math"].map("{:.0f}".format)
district_summary_df["% Passing Reading"] = district_summary_df["% Passing Reading"].map("{:.0f}".format)
district_summary_df["% Overall Passing"] = district_summary_df["% Overall Passing"].map("{:.0f}".format)
district_summary_df

,Total Schools,Total Students,Total Budget,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,% Overall Passing
0,15,"39,170","$24,649,428.00",79.0,81.9,75,86,65

In [23]:
#determine school types
school_types = school_data_df.set_index(["school_name"])["type"]

In [24]:
#create df for school types
school_types_df = pd.DataFrame(school_types)

In [25]:
#get total student in school
school_counts = school_data_df.set_index(["school_name"])["size"]

In [26]:
#total budget per school
total_budget = school_data_df.set_index(["school_name"])["budget"]

In [27]:
#get budget per student
budget_per_student = total_budget / school_counts

In [28]:
#average test scores per school
school_math = school_data_complete_df.groupby(["school_name"]).mean()["math_score"]
school_reading = school_data_complete_df.groupby(["school_name"]).mean()["reading_score"]

In [29]:
#filter df for passing scores
school_passing_math = school_data_complete_df[(school_data_complete_df["math_score"] >= 70)]
school_passing_reading = school_data_complete_df[(school_data_complete_df["reading_score"] >= 70)]

In [30]:
#calc number of students passing reading and math
school_passing_math = school_passing_math.groupby(["school_name"]).count()["student_name"]
school_passing_reading = school_passing_reading.groupby(["school_name"]).count()["student_name"]

In [31]:
#percentage of passing math and reading score per school
school_passing_math = school_passing_math / school_counts *100
school_passing_reading = school_passing_reading / school_counts *100

In [32]:
#calc passing reading and math
per_passing_math_reading = school_data_complete_df[(school_data_complete_df["math_score"] >= 70) & (school_data_complete_df["reading_score"] >= 70)]

In [33]:
#calc passing reading and math
passing_math_reading = passing_math_reading.groupby(["school_name"]).count()["student_name"]

In [34]:
# Calculate the overall passing percentage.
overall_passing_percentage = passing_math_reading / school_counts * 100

In [35]:
#create summary data field
school_summary_df = pd.DataFrame({
    "School Type": school_types,
    "Total Students": school_counts,
    "Total School Budget": total_budget,
    "Per Student Budget": budget_per_student,
    "Average Math Score":school_math,
    "Average Reading Score":school_reading,
    "% Passing Math":school_passing_math,
    "% Passing Reading": school_passing_reading,
    "% Overall Passing": overall_passing_percentage})

In [36]:
#format budget columns
school_summary_df["Total School Budget"] = school_summary_df["Total School Budget"].map("${:,.2f}".format)
school_summary_df["Per Student Budget"] = school_summary_df["Per Student Budget"].map("${:,.2f}".format)

In [37]:
#show top 5 schools passing rate
top_school = school_summary_df.sort_values(["% Overall Passing"],ascending=False)
top_school.head()

,School Type,Total Students,Total School Budget,Per Student Budget,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,% Overall Passing
school_name,,,,,,,,,
Cabrera High School,Charter,1858,"$1,081,356.00",$582.00,83.061895,83.975780,94.133477,97.039828,91.334769
Thomas High School,Charter,1635,"$1,043,130.00",$638.00,83.418349,83.848930,93.272171,97.308869,90.948012
Griffin High School,Charter,1468,"$917,500.00",$625.00,83.351499,83.816757,93.392371,97.138965,90.599455
Wilson High School,Charter,2283,"$1,319,574.00",$578.00,83.274201,83.989488,93.867718,96.539641,90.582567
Pena High School,Charter,962,"$585,858.00",$609.00,83.839917,84.044699,94.594595,95.945946,90.540541

In [38]:
#show bottom 5 schools passing rate
bottom_school = school_summary_df.sort_values(["% Overall Passing"],ascending=True)
bottom_school.head()

,School Type,Total Students,Total School Budget,Per Student Budget,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,% Overall Passing
school_name,,,,,,,,,
Rodriguez High School,District,3999,"$2,547,363.00",$637.00,76.842711,80.744686,66.366592,80.220055,52.988247
Figueroa High School,District,2949,"$1,884,411.00",$639.00,76.711767,81.158020,65.988471,80.739234,53.204476
Huang High School,District,2917,"$1,910,635.00",$655.00,76.629414,81.182722,65.683922,81.316421,53.513884
Hernandez High School,District,4635,"$3,022,020.00",$652.00,77.289752,80.934412,66.752967,80.862999,53.527508
Johnson High School,District,4761,"$3,094,650.00",$650.00,77.072464,80.966394,66.057551,81.222432,53.539172

In [39]:
#create series for new data grouped by grade
ninth_graders = school_data_complete_df[(school_data_complete_df["grade"] == "9th")]
tenth_graders = school_data_complete_df[(school_data_complete_df["grade"] == "10th")]
eleventh_graders = school_data_complete_df[(school_data_complete_df["grade"] == "11th")]
twelfth_graders = school_data_complete_df[(school_data_complete_df["grade"] == "12th")]

In [40]:
#group each grade with avg math score
ninth_grade_math_scores = ninth_graders.groupby(["school_name"]).mean()["math_score"]
tenth_grade_math_scores = tenth_graders.groupby(["school_name"]).mean()["math_score"]
eleventh_grade_math_scores = eleventh_graders.groupby(["school_name"]).mean()["math_score"]
twelfth_grade_math_scores = twelfth_graders.groupby(["school_name"]).mean()["math_score"]

In [41]:
#group each grade with avg reading score
ninth_grade_reading_scores = ninth_graders.groupby(["school_name"]).mean()["reading_score"]
tenth_grade_reading_scores = tenth_graders.groupby(["school_name"]).mean()["reading_score"]
eleventh_grade_reading_scores = eleventh_graders.groupby(["school_name"]).mean()["reading_score"]
twelfth_grade_reading_scores = twelfth_graders.groupby(["school_name"]).mean()["reading_score"]

In [42]:
#combine grades into summary for math scores
math_scores_by_grade = pd.DataFrame({
    "9th":ninth_grade_math_scores,
    "10th":tenth_grade_math_scores,
    "11th":eleventh_grade_math_scores,
    "12th":twelfth_grade_math_scores})

In [43]:
#combine grades into summary for reading scores
reading_scores_by_grade = pd.DataFrame({
    "9th":ninth_grade_reading_scores,
    "10th":tenth_grade_reading_scores,
    "11th":eleventh_grade_reading_scores,
    "12th":twelfth_grade_reading_scores})

In [44]:
#format math grades
math_scores_by_grade["9th"] = math_scores_by_grade["9th"].map("{:.1f}".format)
math_scores_by_grade["10th"] = math_scores_by_grade["10th"].map("{:.1f}".format)
math_scores_by_grade["11th"] = math_scores_by_grade["11th"].map("{:.1f}".format)
math_scores_by_grade["12th"] = math_scores_by_grade["12th"].map("{:.1f}".format)
math_scores_by_grade.index.name = None

In [45]:
 #format reading grades
reading_scores_by_grade["9th"] = reading_scores_by_grade["9th"].map("{:.1f}".format)
reading_scores_by_grade["10th"] = reading_scores_by_grade["10th"].map("{:.1f}".format)
reading_scores_by_grade["11th"] = reading_scores_by_grade["11th"].map("{:.1f}".format)
reading_scores_by_grade["12th"] = reading_scores_by_grade["12th"].map("{:.1f}".format)
reading_scores_by_grade.index.name = None

In [46]:
#descriptive statistics for budget per student
budget_per_student.describe()

count     15.000000
mean     620.066667
std       28.544368
min      578.000000
25%      591.500000
50%      628.000000
75%      641.500000
max      655.000000
dtype: float64

In [47]:
#create ranges for spending budget per student
spending_bins = [0, 585, 630, 645, 675]
budget_per_student.groupby(pd.cut(budget_per_student, spending_bins)).count()

(0, 585]      4
(585, 630]    4
(630, 645]    4
(645, 675]    3
dtype: int64

In [48]:
#set bins for budget per student
spending_bins = [0, 585, 630, 645, 675]
group_names = ["<$584", "$585-629", "$630-644", "$645-675"]

In [49]:
#sort into bins
school_summary_df["Spending Ranges (Per Student)"] = pd.cut(budget_per_student, spending_bins, labels=group_names)

In [50]:
#averages for columns for budget per student
spending_math_scores = school_summary_df.groupby(["Spending Ranges (Per Student)"]).mean()["Average Math Score"]
spending_reading_scores = school_summary_df.groupby(["Spending Ranges (Per Student)"]).mean()["Average Reading Score"]
spending_passing_math = school_summary_df.groupby(["Spending Ranges (Per Student)"]).mean()["% Passing Math"]
spending_passing_reading = school_summary_df.groupby(["Spending Ranges (Per Student)"]).mean()["% Passing Reading"]
overall_passing_spending = school_summary_df.groupby(["Spending Ranges (Per Student)"]).mean()["% Overall Passing"]

In [51]:
#spending summary data frame
spending_summary_df = pd.DataFrame({
          "Average Math Score" : spending_math_scores,
          "Average Reading Score": spending_reading_scores,
          "% Passing Math": spending_passing_math,
          "% Passing Reading": spending_passing_reading,
          "% Overall Passing": overall_passing_spending})

In [52]:
#format spending summary df
spending_summary_df["Average Math Score"] = spending_summary_df["Average Math Score"].map("{:.1f}".format)
spending_summary_df["Average Reading Score"] = spending_summary_df["Average Reading Score"].map("{:.1f}".format)
spending_summary_df["% Passing Math"] = spending_summary_df["% Passing Math"].map("{:.0f}".format)
spending_summary_df["% Passing Reading"] = spending_summary_df["% Passing Reading"].map("{:.0f}".format)
spending_summary_df["% Overall Passing"] = spending_summary_df["% Overall Passing"].map("{:.0f}".format)
spending_summary_df

,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,% Overall Passing
Spending Ranges (Per Student),,,,,
<$584,83.5,83.9,93,97,90
$585-629,81.9,83.2,87,93,81
$630-644,78.5,81.6,73,84,63
$645-675,77.0,81.0,66,81,54

In [53]:
#set bins for group by school size
size_bins = [0, 1000, 2000, 5000]
group_names = ["Small (<1000)", "Medium (1000-2000)", "Large (2000-5000)"]

In [54]:
#group by school size for spending
school_summary_df["School Size"] = pd.cut(school_summary_df["Total Students"], size_bins, labels=group_names)

In [55]:
#calc avg based on size
size_math_scores = school_summary_df.groupby(["School Size"]).mean()["Average Math Score"]
size_reading_scores = school_summary_df.groupby(["School Size"]).mean()["Average Reading Score"]
size_passing_math = school_summary_df.groupby(["School Size"]).mean()["% Passing Math"]
size_passing_reading = school_summary_df.groupby(["School Size"]).mean()["% Passing Reading"]
size_overall_passing = school_summary_df.groupby(["School Size"]).mean()["% Overall Passing"]

In [56]:
#size summary df
size_summary_df = pd.DataFrame({
          "Average Math Score" : size_math_scores,
          "Average Reading Score": size_reading_scores,
          "% Passing Math": size_passing_math,
          "% Passing Reading": size_passing_reading,
          "% Overall Passing": size_overall_passing})

In [57]:
#format size summary
size_summary_df["Average Math Score"] = size_summary_df["Average Math Score"].map("{:.1f}".format)
size_summary_df["Average Reading Score"] = size_summary_df["Average Reading Score"].map("{:.1f}".format)
size_summary_df["% Passing Math"] = size_summary_df["% Passing Math"].map("{:.0f}".format)
size_summary_df["% Passing Reading"] = size_summary_df["% Passing Reading"].map("{:.0f}".format)
size_summary_df["% Overall Passing"] = size_summary_df["% Overall Passing"].map("{:.0f}".format)
size_summary_df

,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,% Overall Passing
School Size,,,,,
Small (<1000),83.8,83.9,94,96,90
Medium (1000-2000),83.4,83.9,94,97,91
Large (2000-5000),77.7,81.3,70,83,58

In [58]:
#calc for group by type
type_math_scores = school_summary_df.groupby(["School Type"]).mean()["Average Math Score"]
type_reading_scores = school_summary_df.groupby(["School Type"]).mean()["Average Reading Score"]
type_passing_math = school_summary_df.groupby(["School Type"]).mean()["% Passing Math"]
type_passing_reading = school_summary_df.groupby(["School Type"]).mean()["% Passing Reading"]
type_overall_passing = school_summary_df.groupby(["School Type"]).mean()["% Overall Passing"]

In [59]:
# create summary df
type_summary_df = pd.DataFrame({
          "Average Math Score" : type_math_scores,
          "Average Reading Score": type_reading_scores,
          "% Passing Math": type_passing_math,
          "% Passing Reading": type_passing_reading,
          "% Overall Passing": type_overall_passing})

In [60]:
#formaty summary df
type_summary_df["Average Math Score"] = type_summary_df["Average Math Score"].map("{:.1f}".format)
type_summary_df["Average Reading Score"] = type_summary_df["Average Reading Score"].map("{:.1f}".format)
type_summary_df["% Passing Math"] = type_summary_df["% Passing Math"].map("{:.0f}".format)
type_summary_df["% Passing Reading"] = type_summary_df["% Passing Reading"].map("{:.0f}".format)
type_summary_df["% Overall Passing"] = type_summary_df["% Overall Passing"].map("{:.0f}".format)
type_summary_df

,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,% Overall Passing
School Type,,,,,
Charter,83.5,83.9,94,97,90
District,77.0,81.0,67,81,54