In [1]:
#add pandas
import pandas as pd

In [2]:
#files to load
school_data_to_load = "Resources/schools_complete.csv"
student_data_to_load = "Resources/students_complete.csv"

In [3]:
#read school file > data frame
school_data_df = pd.read_csv(school_data_to_load)

In [4]:
# Read the student data file and store it in a Pandas DataFrame.
student_data_df = pd.read_csv(student_data_to_load)

In [5]:
# Add each prefix and suffix to remove to a list.
prefixes_suffixes = ["Dr. ", "Mr. ","Ms. ", "Mrs. ", "Miss ", " MD", " DDS", " DVM", " PhD"]

In [6]:
#Iterate through the "prefixes_suffixes" list and replace them with an empty space, "" when it appears in the student's name.
for word in prefixes_suffixes:
    student_data_df["student_name"] = student_data_df["student_name"].str.replace(word,"")

C:\Users\ambre\anaconda3\envs\PythonData\lib\site-packages\ipykernel_launcher.py:3: FutureWarning: The default value of regex will change from True to False in a future version.
  This is separate from the ipykernel package so we can avoid doing imports until

In [7]:
# Put the cleaned students' names in another list.
student_names = student_data_df["student_name"].tolist()

In [8]:
#combine both data sheets
school_data_complete_df = pd.merge(school_data_df, student_data_df, on=["school_name","school_name"])

In [9]:
#counting the number of students based on student ID Column
student_count = school_data_complete_df["Student ID"].count()

In [10]:
#total number of schools
school_count = school_data_df["school_name"].count()

In [11]:
#calc total budget
total_budget = school_data_df["budget"].sum()

In [12]:
#avg reading score
average_reading_score = school_data_complete_df["reading_score"].mean()

In [13]:
#avg math score
average_math_score = school_data_complete_df["math_score"].mean()

In [14]:
#passing math score
passing_math = school_data_complete_df[school_data_complete_df["math_score"] >= 70]
passing_math_count=passing_math["student_name"].count()

In [15]:
#passing reading score
passing_reading = school_data_complete_df[school_data_complete_df["reading_score"] >= 70]
passing_reading_count=passing_reading["student_name"].count()

In [16]:
#% that passed math
passing_math_percentage = passing_math_count /float(student_count) * 100

In [17]:
#% that passed reading
passing_reading_percentage = passing_reading_count / float(student_count) * 100

In [18]:
# Calculate the students who passed both math and reading.
passing_math_reading = school_data_complete_df[(school_data_complete_df["math_score"] >= 70) & (school_data_complete_df["reading_score"] >= 70)]

In [19]:
# Calculate the number of students who passed both math and reading.
overall_passing_math_reading_count = passing_math_reading["student_name"].count()

In [20]:
#overall passing %
overall_passing_percentage = overall_passing_math_reading_count / student_count * 100

In [21]:
district_summary_df = pd.DataFrame(
    [{"Total Schools":school_count,
     "Total Students":student_count,
     "Total Budget":total_budget,
     "Average Math Score":average_math_score,
     "Average Reading Score":average_reading_score,
     "% Passing Math":passing_math_percentage,
     "% Passing Reading":passing_reading_percentage,
     "% Overall Passing":overall_passing_percentage}])

In [22]:
#formatting district summary df
district_summary_df["Total Students"] = district_summary_df["Total Students"].map("{:,}".format)
district_summary_df["Total Budget"] = district_summary_df["Total Budget"].map("${:,.2f}".format)
district_summary_df["Average Math Score"] = district_summary_df["Average Math Score"].map("{:.1f}".format)
district_summary_df["Average Reading Score"] = district_summary_df["Average Reading Score"].map("{:.1f}".format)
district_summary_df["% Passing Math"] = district_summary_df["% Passing Math"].map("{:.0f}".format)
district_summary_df["% Passing Reading"] = district_summary_df["% Passing Reading"].map("{:.0f}".format)
district_summary_df["% Overall Passing"] = district_summary_df["% Overall Passing"].map("{:.0f}".format)
district_summary_df

,Total Schools,Total Students,Total Budget,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,% Overall Passing
0,15,"39,170","$24,649,428.00",79.0,81.9,75,86,65

In [23]:
#determine school types
school_types = school_data_df.set_index(["school_name"])["type"]

In [24]:
#create df for school types
school_types_df = pd.DataFrame(school_types)

In [25]:
#get total student in school
school_counts = school_data_df.set_index(["school_name"])["size"]

In [26]:
#total budget per school
total_budget = school_data_df.set_index(["school_name"])["budget"]

In [27]:
#get budget per student
budget_per_student = total_budget / school_counts

In [28]:
#average test scores per school
school_math = school_data_complete_df.groupby(["school_name"]).mean()["math_score"]
school_reading = school_data_complete_df.groupby(["school_name"]).mean()["reading_score"]

In [29]:
# Calculate the passing scores by creating a filtered DataFrame.
school_passing_math = school_data_complete_df[(school_data_complete_df["math_score"] >= 70)]
school_passing_reading = school_data_complete_df[(school_data_complete_df["reading_score"] >= 70)]

In [30]:
# Calculate the number of students passing math and passing reading by school.
school_passing_math = school_passing_math.groupby(["school_name"]).count()["student_name"]
school_passing_reading = school_passing_reading.groupby(["school_name"]).count()["student_name"]

In [31]:
#percentage of passing math and reading score per school
school_passing_math = school_passing_math / school_counts *100
school_passing_reading = school_passing_reading / school_counts *100

In [32]:
# Calculate the students who passed both math and reading.
per_passing_math_reading = school_data_complete_df[(school_data_complete_df["math_score"] >= 70) & (school_data_complete_df["reading_score"] >= 70)]

In [33]:
# Calculate the number of students who passed both math and reading.
passing_math_reading = passing_math_reading.groupby(["school_name"]).count()["student_name"]

In [34]:
# Calculate the overall passing percentage.
overall_passing_percentage = passing_math_reading / school_counts * 100

In [35]:
#create summary data field
school_summary_df = pd.DataFrame({
    "School Type": school_types,
    "Total Students": school_counts,
    "Total School Budget": total_budget,
    "Per Student Budget": budget_per_student,
    "Average Math Score":school_math,
    "Average Reading Score":school_reading,
    "% Passing Math":school_passing_math,
    "% Passing Reading": school_passing_reading,
    "% Overall Passing": overall_passing_percentage})

In [36]:
#format budget columns
school_summary_df["Total School Budget"] = school_summary_df["Total School Budget"].map("${:,.2f}".format)
school_summary_df["Per Student Budget"] = school_summary_df["Per Student Budget"].map("${:,.2f}".format)
school_summary_df

,School Type,Total Students,Total School Budget,Per Student Budget,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,% Overall Passing
school_name,,,,,,,,,
Bailey High School,District,4976,"$3,124,928.00",$628.00,77.048432,81.033963,66.680064,81.933280,54.642283
Cabrera High School,Charter,1858,"$1,081,356.00",$582.00,83.061895,83.975780,94.133477,97.039828,91.334769
Figueroa High School,District,2949,"$1,884,411.00",$639.00,76.711767,81.158020,65.988471,80.739234,53.204476
Ford High School,District,2739,"$1,763,916.00",$644.00,77.102592,80.746258,68.309602,79.299014,54.289887
Griffin High School,Charter,1468,"$917,500.00",$625.00,83.351499,83.816757,93.392371,97.138965,90.599455
Hernandez High School,District,4635,"$3,022,020.00",$652.00,77.289752,80.934412,66.752967,80.862999,53.527508
Holden High School,Charter,427,"$248,087.00",$581.00,83.803279,83.814988,92.505855,96.252927,89.227166
Huang High School,District,2917,"$1,910,635.00",$655.00,76.629414,81.182722,65.683922,81.316421,53.513884
Johnson High School,District,4761,"$3,094,650.00",$650.00,77.072464,80.966394,66.057551,81.222432,53.539172
Pena High School,Charter,962,"$585,858.00",$609.00,83.839917,84.044699,94.594595,95.945946,90.540541
Rodriguez High School,District,3999,"$2,547,363.00",$637.00,76.842711,80.744686,66.366592,80.220055,52.988247
Shelton High School,Charter,1761,"$1,056,600.00",$600.00,83.359455,83.725724,93.867121,95.854628,89.892107
Thomas High School,Charter,1635,"$1,043,130.00",$638.00,83.418349,83.848930,93.272171,97.308869,90.948012
Wilson High School,Charter,2283,"$1,319,574.00",$578.00,83.274201,83.989488,93.867718,96.539641,90.582567
Wright High School,Charter,1800,"$1,049,400.00",$583.00,83.682222,83.955000,93.333333,96.611111,90.333333